@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Nunito", sans-serif;
  font-family: "Poppins", sans-serif;
}
body {
  height: 100vh;
  background-image: url("./assets/background.webp");
  background-size: cover;
  background-repeat: no-repeat;
}
